:root {
  --grid-value: repeat(autofit, 1fr);
}

.block {
  padding: 1px;
  border: #000000 1px solid;
  width: auto;
  height: auto;
}

.grid {
  position: relative;
  width: 448px;
  height: 448px;
  max-width: 448px;
  max-height: 448px;
  display: grid;
  grid-template-columns: var(--grid-value);
}

.gridHover {
  background-color: red;
}

.mainDiv {
  position: relative;
  left: 45%;
  top: 5%;
  width: 448px;
  border: red solid 1px;
}
