:root {
  --grid-value: repeat(autofit, 1fr);
}

body {
  font-family: "Patrick Hand", cursive;
  background-color: #31498a;
  overflow: hidden;
}

.block {
  padding: 1px;
  border: rgba(255, 0, 128, 0.2) 1px solid;
  width: auto;
  height: auto;
}

.grid {
  position: relative;
  width: 448px;
  height: 448px;
  max-width: 448px;
  max-height: 448px;
  display: grid;
  grid-template-columns: var(--grid-value);
  background-color: #f6fdf9;
}

.gridHover {
  background-color: #31498a;
}

.mainDiv {
  position: relative;
  left: 45%;
  top: -25%;
  width: 448px;
  border: 10px solid #a2e4be;
}

.head {
  margin: 0;
  padding: 0;
  position: relative;
  top: 30vh;
  left: 15vh;
  width: 350;
  padding: 10px;
}

.head h1 {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 400;
  font-family: "Hepta Slab", serif;
  font-size: 40px;
  color: #a2e4be;
  line-height: 45px;
}

.head button {
  text-transform: uppercase;
  padding: 10px;
  border-radius: 15px;
  background-color: #31498a;
  border: 1px solid #fa8581;
  color: #f6fdf9;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

.head button:hover {
  background-color: #fa8581;
}

.head span {
  font-family: "Patrick Hand", cursive;
  font-weight: 800;
  font-size: 60px;
}

.head div {
  margin-top: 10px;
  color: #f6fdf9;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

input {
  width: 290px;
  border-radius: 10px;
  -webkit-appearance: none;
  background-color: white;
  border: n;
  border: 1px solid #fa8581;
}

.bottom {
  margin-top: 10px;
}
